img{
  width: 150px;
  height: auto;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkseagreen;
  padding: 20px;
}

.container{
  width: 1000px;
  margin: auto;
}

section{
  background-color: dimgray;
}